<h1>Automatische Installation</h1>
  <p>CloudJunge installiert Windows Server- und Clientsysteme vollautomatisch. Dies umfasst Updates, Software und Einstellungen.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Jetzt loslegen!</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <i class="fa fa-search fa-3x"></i>
    </div>
    <div class="col-md-4 text-center">
      <i class="fa fa-cogs fa-3x"></i>
    </div>
    <div class="col-md-4 text-center">
    <i class="fa fa-clock-o fa-3x"></i>
    </div>
  </div>


<div class="row">
  <div class="col-md-4 text-center text-primary"><h2>Software aussuchen</h2>
    <p>Auswahl von 端ber 100 verschiedenen Software-Programmen. Von Adobe Reader bis zu 7zip steht alles zur Verf端gung.</p>
  </div>
  <div class="col-md-4 text-center text-primary"><h2>Einstellungen festlegen</h2>
    <p>Die wichtigsten Windows-Einstellungen festlegen. Von der Taskleiste bis zum Remotedesktop lassen sich alle Einstellungen vorgeben.</p>
  </div>
  <div class="col-md-4 text-center text-primary"><h2>Entspannt zur端cklehnen</h2>
    <p>Den Rest erledigt CloudJunge vollautomatisch. Selbst notwendige Neustarts nach Windows Updates werden durchgef端hrt.</p>
  </div>