<h1>Automatische Installation</h1>
  <p>CloudJunge installiert Windows Server- und Clientsysteme vollautomatisch. Die einfachste und schnellste Installation der Welt!</p>
  <p><a class="btn btn-primary btn-lg" role="button">Jetzt loslegen!</a></p>
  </div>
</div>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <i class="fa fa-search fa-3x"></i>
    </div>
    <div class="col-md-4 text-center">
      <i class="fa fa-cogs fa-3x"></i>
    </div>
    <div class="col-md-4 text-center">
    <i class="fa fa-clock-o fa-3x"></i>
    </div>
  </div>


<div class="row">
  <div class="col-md-4 text-center text-primary"><h2>Software aussuchen</h2>
    <p>Auswahl von 체ber 100 verschiedenen Software-Programmen. Von Adobe Reader bis zu 7zip steht alles zur Verf체gung.</p>
  </div>
  <div class="col-md-4 text-center text-primary"><h2>Erstellung abwarten</h2>
    <p>Die Software wird in windeseile zusammengestellt und s채mtliche Einstellungen automatisch vorgenommen.</p>
  </div>
  <div class="col-md-4 text-center text-primary"><h2>Entspannt zur체cklehnen</h2>
    <p>Den Rest erledigt CloudJunge vollautomatisch. Es ist keinerlei Interaktion notwendig.</p>
  </div>
</div>
</div>
<br>
<br>
<div class="jumbotron">
  <div class="container">
      
 <!-- Blockquotes -->

        <div class="row">
          <div class="col-lg-12">
            <h2 id="type-blockquotes">Meinungen</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
              </blockquote>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote class="pull-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

