<div class="well">
	<legend class="text-primary">Software auswählen</legend>
		<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
        <%= value %>
    </div>
  		<% end %>

 		<%= render partial: 'form' %>
	</div>