<h1>Die folgende Software wurde ausgewählt</h1>
<p class="text-primary">




<%= @software.softwarename %> 

<%= link_to "Installieren", 
"http://boxstarter.org/package/#{@software.softwarename}", class: 'btn btn-primary' %>

</p>

