<h1><p class="text-primary">


<%= @software.softwarename %> 

<%= link_to 'Google', "http://google.ie/" %>

<%= link_to "Outside Site", 
"http://boxstarter.org/package/#{@software.softwarename}" %>



</h1>


</h1></p>